{% extends 'layout.html.twig' %}

{% block title %}
    Datos de la emoci贸n
{% endblock %}

{% block content %}
    <h1>
        {% if emocion.id %}
            Modificar emoci贸n {{ emocion.nombre }} <i class="{{ emocion.icono }}"></i>
        {% else %}
            Nueva emoci贸n
        {% endif %}
    </h1>
    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    <a href="{{ path('emocion_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado</a>
    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>
    {% if emocion.id %}
        <a href="{{ path('emocion_eliminar', {'id': emocion.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar emoci贸n</a>
    {% endif %}
    {{ form_end(formulario) }}
{% endblock %}


