{% extends 'layout.html.twig' %}

{% block title %}
    Datos de la respuesta
{% endblock %}

{% block content %}
    <h1>
        {% if respuesta.id %}
            Modificar respuesta
        {% else %}
            Nueva respuesta
        {% endif %}
    </h1>
    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    <a href="{{ path('tema_respuestas_listar', {'id': respuesta.tema.id}) }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al tema</a>
    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>
    {% if respuesta.id %}
        <a href="{{ path('respuesta_eliminar', {'id': respuesta.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar respuesta</a>
    {% endif %}
    {{ form_end(formulario) }}
{% endblock %}


