{% extends 'layout.html.twig' %}

{% block title %}
    {{ tema.titulo }}
{% endblock %}

{% block content %}
    <h1><a href="{{ path('categoria_temas_listar', {'id': tema.categoria.id}) }}">{{ tema.categoria.nombre }}</a> » {{ tema.titulo }}</h1>
    <div class="jumbotron">
        <span class="h3">{{ tema.usuario.nombre }}</span>
        <span class="h4 pl-4">{{ tema.fechaCreacion|date('d/m/Y h:m') }}</span>
        <hr/>
        <p>{{ tema.texto }}</p>
    </div>
    <table class="table table-bordered table-striped">
        <tbody>
        {% for respuesta in respuestas %}
            <tr>
                <td colspan="2">{{ respuesta.fechaCreacion|date('d/m/Y h:m') }}</td>
            </tr>
            <tr>
                <td>{{ tema.usuario.nombre }}</td>
                <td>{{ respuesta.texto }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay respuestas a este tema</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ path('categoria_temas_listar', {'id': tema.categoria.id}) }}" class="btn btn-info">
            <i class="fas fa-arrow-left"></i> Volver a la categoría {{ tema.categoria.nombre }}
        </a>
    </p>
{% endblock %}

