{% extends 'layout.html.twig' %}

{% block title %}
    {{ tema.titulo }}
{% endblock %}

{% block content %}
    <h1>
        {% if tema.fijado == true %}
            <i class="fa fa-bookmark"></i>
        {% endif %}
        {% if tema.cerrado == true %}
            <i class="fa fa-comment-slash"></i>
        {% endif %}
        <a href="{{ path('categoria_temas_listar', {'id': tema.categoria.id}) }}">{{ tema.categoria.nombre }}</a> » {{ tema.titulo }}
    </h1>
    {% if tema.emociones|length > 0 %}
        <h2>
            {% for emocion in tema.emociones %}
                <a href="{{ path('emocion_temas_listar', {'id': emocion.id}) }}">
                    <i class="{{ emocion.icono }}"></i>
                </a>
            {% endfor %}
        </h2>
    {% endif %}
    <div class="jumbotron">
        <a href="{{ path('usuario_detalles', {'id': tema.usuario.id}) }}">
            <span class="h3
              {% if tema.usuario.administrador == true %}
                  text-white bg-dark p-1 rounded
              {% elseif tema.usuario.moderador == true %}
                  text-white bg-secondary p-1 rounded
              {% endif %}
            ">{{ tema.usuario.nombre }}</span>
        </a>
        <span class="ml-3">Aportes: {{ numAportesAutorTema }}</span>
        <span class="float-right">
            <span class="h4 pl-4">{{ tema.fechaCreacion|date('d/m/Y h:m') }}</span>
            <span class="ml-3"><a class="btn btn-success" href="{{ path('tema_form', {'id': tema.id}) }}">Editar</a></span>
        </span>
        <hr/>
        <p>{{ tema.texto }}</p>
        {% if tema.editado == true %}
            <p class="float-right text-secondary">Editado</p>
        {% endif %}
    </div>
    <div class="mb-4">
        <a href="{{ path('respuesta_nueva', {'tema': tema.id}) }}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva respuesta</a>
    </div>
    {% for respuesta in respuestas %}
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td class="align-middle">
                    {{ respuesta.fechaCreacion|date('d/m/Y h:m') }}
                </td>
                <td>
                    <span class="float-right"><a class="btn btn-success" href="{{ path('respuesta_form', {'id': respuesta.id}) }}">Editar</a></span>
                </td>
            </tr>
            <tr>
                <td class="mensajeDetallesAutor">
                    <a href="{{ path('usuario_detalles', {'id': respuesta.usuario.id}) }}"
                        {% if respuesta.usuario.administrador == true %}
                            class="text-white bg-dark p-1 rounded"
                        {% elseif respuesta.usuario.moderador == true %}
                            class="text-white bg-secondary p-1 rounded"
                        {% endif %}
                    >{{ respuesta.usuario.nombre }}</a>
                    <p>Aportes: {{ numAportesAutorRespuesta[loop.index - 1] }}</p>
                </td>
                <td class="mensajeContenido">
                    <p>{{ respuesta.texto }}</p>
                    {% if respuesta.editada == true %}
                        <p class="float-right text-secondary">Editada</p>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td colspan="2">No hay respuestas a este tema</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    <p>
        <a href="{{ path('categoria_temas_listar', {'id': tema.categoria.id}) }}" class="btn btn-info">
            <i class="fas fa-arrow-left"></i> Volver a la categoría {{ tema.categoria.nombre }}
        </a>
    </p>
{% endblock %}
