{% extends 'layout.html.twig' %}

{% block title %}
    {{ tema.titulo }}
{% endblock %}

{% block content %}
    <h1><a href="{{ path('categoria_temas_listar', {'id': tema.categoria.id}) }}">{{ tema.categoria.nombre }}</a> » {{ tema.titulo }}</h1>
    <div class="jumbotron">
        <span class="h3">{{ tema.usuario.nombre }}</span>
        <span class="h4 pl-4">{{ tema.fechaCreacion|date('d/m/Y h:m') }}</span>
        <hr/>
        <p>{{ tema.texto }}</p>
    </div>
    {% for respuesta in respuestas %}
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td colspan="2">{{ respuesta.fechaCreacion|date('d/m/Y h:m') }}</td>
            </tr>
            <tr>
                <td style="width: 15%;">{{ respuesta.usuario.nombre }}</td>
                <td style="width: 85%;">{{ respuesta.texto }}</td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td colspan="2">No hay respuestas a este tema</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    <p>
        <a href="{{ path('categoria_temas_listar', {'id': tema.categoria.id}) }}" class="btn btn-info">
            <i class="fas fa-arrow-left"></i> Volver a la categoría {{ tema.categoria.nombre }}
        </a>
    </p>
{% endblock %}

