{% extends 'layout.html.twig' %}

{% block title %}
    Listado de usuarios
{% endblock %}

{% block content %}
    <h1>Listado de usuarios <a href="{{ path('usuario_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo usuario</a></h1>
    <div class="btn-group filtros">
        <a href="{{ path('usuario_listar') }}" class="btn btn-{{ filtro == 0 ? "primary" : "info" }}">Todos</a>
        <a href="{{ path('usuario_listar', {'filtro': 1}) }}" class="btn btn-{{ filtro == 1 ? "primary" : "info" }}">Con permisos</a>
        <a href="{{ path('usuario_listar', {'filtro': 2}) }}" class="btn btn-{{ filtro == 2 ? "primary" : "info" }}">Sin permisos</a>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Fecha de registro</th>
            <th>Aportes</th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>
                    <a href="{{ path('usuario_detalles', {'id': usuario.id}) }}">{{ usuario.nombre }}</a>
                </td>
                {% if usuario.administrador == true %}
                    <td>Administrador</td>
                {% elseif usuario.moderador == true %}
                    <td>Moderador</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ usuario.fechaRegistro|date('d/m/Y') }}</td>
                <td>{{ usuario.temas|length + usuario.respuestas|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}