{% extends 'layout.html.twig' %}

{% block title %}
    Listado de temas de {{ categoria.nombre }}
{% endblock %}

{% block content %}
    <h1>Listado de temas de {{ categoria.nombre }}</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Título</th>
            <th>Número de respuestas</th>
            <th>Creado por</th>
            <th>Fecha de creación</th>
            <th>Autor de la última respuesta</th>
            <th>Fecha de la última respuesta</th>
        </tr>
        </thead>
        <tbody>
        {% for tema in temas %}
            <tr>
                <td><a href="{{ path('tema_respuestas_listar', {'id': tema.id}) }}">{{ tema.titulo }}</a></td>
                <td>{{ numRespuestas[loop.index - 1] }}</td>
                <td>{{ tema.usuario.nombre }}</td>
                <td>{{ tema.fechaCreacion|date('d/m/Y') }}</td>
                <td>{{ ultimaRespuesta[loop.index - 1][0].usuario.nombre }}</td>
                <td>{{ ultimaRespuesta[loop.index - 1][0].fechaCreacion|date('d/m/Y') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay ningún tema en la categoría</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ path('categoria_listar') }}" class="btn btn-info">
            <i class="fas fa-arrow-left"></i> Volver al listado de categorías
        </a>
    </p>
{% endblock %}

