{% extends 'layout.html.twig' %}

{% block title %}
    Listado de categorías
{% endblock %}

{% block content %}
    <h1>Categorías {% if is_granted('ROLE_ADMINISTRADOR') %}<a href="{{ path('categoria_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva categoría</a>{% endif %}</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th class="align-middle">Nombre</th>
            <th class="align-middle">Contenido</th>
            <th class="align-middle">Número de respuestas</th>
            {% if is_granted('ROLE_ADMINISTRADOR') %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td class="align-middle">
                    <a href="{{ path('categoria_temas_listar', {'id': categoria.id}) }}">{{ categoria.nombre }}</a>
                </td>
                <td class="align-middle">
                    <p>Temas: {{ categoria.temas|length }}</p>
                    <p>Respuestas: {{ numRespuestas[loop.index - 1] }}</p>
                </td>
                {% if ultimaRespuesta[loop.index - 1]|length != 0 %}
                    <td>
                        <p>
                            En el tema:
                            <a href="{{ path('tema_respuestas_listar', {'id': ultimaRespuesta[loop.index - 1][0].tema.id}) }}">
                                {{ ultimaRespuesta[loop.index - 1][0].tema.titulo }}
                            </a>
                        </p>
                        <p>
                            Por:
                            <a href="{{ path('usuario_detalles', {'id': ultimaRespuesta[loop.index - 1][0].usuario.id}) }}"
                                {% if ultimaRespuesta[loop.index - 1][0].usuario.administrador == true %}
                                    class="text-white bg-dark p-1 rounded"
                                {% elseif ultimaRespuesta[loop.index - 1][0].usuario.moderador == true %}
                                    class="text-white bg-secondary p-1 rounded"
                                {% endif %}
                            >{{ ultimaRespuesta[loop.index - 1][0].usuario.nombre }}</a>
                        </p>
                        <p>{{ ultimaRespuesta[loop.index - 1][0].fechaCreacion|date('d/m/Y h:m') }}</p>
                    </td>
                {% else %}
                    <td class="align-middle">No hay respuestas</td>
                {% endif %}
                {% if is_granted('ROLE_ADMINISTRADOR') %}
                    <td class="align-middle">
                        <a class="btn btn-success" href="{{ path('categoria_form', {'id': categoria.id}) }}">Editar</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
