{% extends 'layout.html.twig' %}

{% block title %}
    Listado de temas de {{ categoria.nombre }}
{% endblock %}

{% block content %}
    <h1>Listado de temas de {{ categoria.nombre }} {% if is_granted('ROLE_USER') %}<a href="{{ path('tema_nuevo', {'categoria': categoria.id}) }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo tema</a>{% endif %}</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th class="align-middle">Título</th>
            <th class="align-middle">Número de respuestas</th>
            <th class="align-middle">Creado por</th>
            <th class="align-middle">Última respuesta</th>
        </tr>
        </thead>
        <tbody>
        {% for tema in temas %}
            <tr>
                <td class="align-middle">
                    {% if tema.fijado == true %}
                        <i class="fa fa-bookmark"></i>
                    {% endif %}
                    {% if tema.cerrado == true %}
                        <i class="fa fa-comment-slash"></i>
                    {% endif %}
                    <a href="{{ path('tema_respuestas_listar', {'id': tema.id}) }}">{{ tema.titulo }}</a>
                    <p>
                        {% for emocion in tema.emociones %}
                            <a href="{{ path('emocion_temas_listar', {'id': emocion.id}) }}">
                                <i class="{{ emocion.icono }}"></i>
                            </a>
                        {% endfor %}
                    </p>
                </td>

                <td class="align-middle text-center">{{ tema.respuestas|length }}</td>
                <td>
                    <a href="{{ path('usuario_detalles', {'id': tema.usuario.id}) }}"
                        {% if tema.usuario.administrador == true %}
                            class="text-white bg-dark p-1 rounded"
                        {% elseif tema.usuario.moderador == true %}
                            class="text-white bg-secondary p-1 rounded"
                        {% endif %}
                    >
                        {{ tema.usuario.nombre }}
                    </a>
                    <p>{{ tema.fechaCreacion|date('d/m/Y H:i') }}</p>
                </td>
                {% if ultimaRespuesta[loop.index - 1]|length != 0 %}
                    <td>
                        <a href="{{ path('usuario_detalles', {'id': ultimaRespuesta[loop.index - 1][0].usuario.id}) }}"
                            {% if ultimaRespuesta[loop.index - 1][0].usuario.administrador == true %}
                                class="text-white bg-dark p-1 rounded"
                            {% elseif ultimaRespuesta[loop.index - 1][0].usuario.moderador == true %}
                                class="text-white bg-secondary p-1 rounded"
                            {% endif %}
                        >{{ ultimaRespuesta[loop.index - 1][0].usuario.nombre }}</a>
                        <p>{{ ultimaRespuesta[loop.index - 1][0].fechaCreacion|date('d/m/Y H:i') }}</p>
                    </td>
                {% else %}
                    <td class="align-middle">No hay respuestas</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay ningún tema en la categoría</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ path('categoria_listar') }}" class="btn btn-info">
            <i class="fas fa-arrow-left"></i> Volver al listado de categorías
        </a>
    </p>
{% endblock %}

